.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 51.25% 48.75%;
    overflow: hidden;
}

.main-container{
    padding: 4rem;
    overflow: auto;

    .main{
        max-width: 33rem;
        margin-inline: auto;

        .arrow-main{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            margin-bottom: 24px;
        }

        .header{
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-bottom: 48px;
        }

        .medical-info, .certificat-birth{
            display: flex;
            flex-direction: column;
        }
    }
  
}

.main-aside{
    background-color: var(--surface-secondary);
    padding: 4rem;
    overflow: hidden;

    .aside{
        max-width: 31rem;
        margin-inline: auto;
    }


}    