input,
buttom,
select,
textarea {
  border-radius: 0.5rem;
  padding: .75rem 1rem;
  border: 1px solid var(--stroke-default);
  cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator:focus{
 outline: none;
}


input[type="date"]:focus-within,
input:focus,
button:focus,
select:focus,
textarea:focus {
  border: 1px solid var(--stroke-highlight);
  box-shadow: 0 0 0.25rem var(--stroke-highlight);
  outline: none;
}

.flex-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.flex-info-row {
  margin-block: 1.5rem;
 display: flex;
 flex-direction: row;
  gap: 1.25rem;
  /* flex-wrap: wrap; */
}

.flex-address {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}


