@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import url(../css/form.css);
@import url(../css/kid-info.css);
@import url(../global/components.css);
@import url(../css/address.css);
@import url(../css/responsible.css);
@import url(../css/enrollment.css);
@import url(../css/termos.css);
@import url(../css/aside.css);
:root {
  --brand-light: #f67841;
  --brand-mid: #f3541c;
  --brand-dark: #e43a12;

  --text-primary: #292524;
  --text-secondary: #57534e;
  --text-tertiary: #8f8881;
  --text-highlight: #e43a12;

  --surface-primary: #ffffff;
  --surface-secondary: #fee7d6;
  --surface-disabled: #e7e5e4;

  --stroke-default: #d6d3d1;
  --stroke-highlight: #f3541c;
   --stroke-highlight-transparent: rgba(243, 84, 28, 0.1);

  --semantic-error: #dc 2626;

  --supporting-orange: #f9a474;
  --supporting-yellow: #fedf6f;
  --supporting-green: #c7d78d;
  --supporting-blue: #b8cedc;
  --supporting-violet: #c3b2e7;
  --supporting-pink: #f682a5;

}
 
*{

    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;

}

.span{
  color: var(--text-highlight);
  font-weight: 600;
}

.heading1 {
  font-size: 32px;
  line-height: 120%;
  font-weight: 700;
}

.heading2 {
  font-size: 24px;
  line-height: 125%;
  font-weight: 600;
}

.heading3 {
  font-size: 20px;
  line-height: 120%;
  font-weight: 700;
}

.heading4 {
  font-size: 16px;
  line-height: 125%;
  font-weight: 400;
}

.heading-disabled{
  font-size: 16px;
  line-height: 150%;
  color: var(--text-primary);
}

.heading5{
  font-size: 16px;
  line-height: 125%;
  font-weight: 700;
}

.label-1{
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
  color: var(--text-secondary);
}
